<div class="jumbotron">
  <h1>Data Pipeline Demo</h1>
  <p>Explore and visualize movie data from your R analysis</p>
  <p>
    <a class="btn btn-lg btn-primary" href="/services" role="button">Explore the data sets</a>
  </p>
</div>