<div class="row">
{{#each model as |service|}}
  <div class="col-sm-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        {{#link-to 'services.show' service}}
          <span class="label label-default">{{service.id}}</span> {{service.name}}
        {{/link-to}}
      </h3>
    </div>
    <div class="json">
      {{#code-inline language='javascript'}}{{service.prettyJson}}{{/code-inline}}
    </div>
  </div>
  </div>
{{/each}}
</div>


