<div class="jumbotron">
  <h1>JSON Charting App</h1>
  <p>This is the JSON charting application.</p>
  <p>
    <a class="btn btn-lg btn-primary" href="/services" role="button">View available services &raquo;</a>
  </p>
</div>