body {
  padding-top: 55px;
}

div .json {
  background: #f5f2f0;
  height: 150px;
  overflow: scroll;
}

.panel-body {
  background-color: #3e444c;
}

.panel-heading {
  text-align: center;
}

.c3-axis,
.c3-legend-item {
  fill: #eee;
}

.c3 path,
.tick > line {
  stroke: #eee;
}